                    /* ====>Resets<====  */

*{
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}

ul{list-style: none;}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-clr);
    color: var(--txt-clr);
    display: grid;
    place-items: center;
    padding-top: 3.3rem;
    transition:background .3s;
}

:root{

    /* ===> colors <=== */

    --bg-clr:hsl(208, 41%, 8%);

    --txt-clr:hsla(208, 9%, 67%, 1);

}

:root:has(#light:checked){
    --bg-clr:hsl(200, 7%, 92%);
    
}

:root:has(#black:checked){
}


/* fieldset{
    border: 0;
}

.circle{
    height: 8rem;
    width: 8rem;
    border:1px solid hsl(208, 41%, 8%);
    border-radius: 50%;
    padding: 2.2rem;
    background: hsla(208, 25%, 12%, 1);
}

input{
    cursor: pointer;
}

input[type="radio"]#black{
    appearance: none;
    height: 3.4rem;
    width: 3.4rem;
    background: url(./asssets/images/sun-regular.svg);
}
 */
