 /* ====>Resets<====  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

*{
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}

ul{list-style: none;}

li{display: inline-block;}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-clr);
    color: var(--txt-clr);
    display: grid;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    place-items: center;
    padding-top: 3.3rem;
    transition:background .3s;
}

:root{

    /* ===> colors <=== */

    --bg-clr:hsl(208, 41%, 8%);
    --bg-button:hsla(47, 100%, 72%, 1);
    --txt-clr:hsla(208, 9%, 67%, 1);
    --circle-bg:hsla(208, 25%, 12%, 1);

    /* ===> layout <=== */

    --ff-body:'Poppins',sans-serif;
    --fs-body:2.2rem;

    --radius:1rem;

}

:root:has(#light:checked){
    --bg-clr:hsl(200, 7%, 92%);
    --circle-bg:hsl(0, 0%, 100%);
    
}

            /* ===>base of project<=== */

section{
    margin-top: 6.5rem;
}

.flex{
    display: flex;
}

.even-columns {
   display: grid;
   grid-auto-columns: 1fr;
   grid-auto-flow: column;
}

            /* ===>Layout<=== */

fieldset{
    border: 0;
}

.circle{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    padding: 2.2rem;
    background: var(--circle-bg);
}

input{
    cursor: pointer;
}

input[type="radio"]{
    appearance: none;
    background: url(./asssets/images/sun-regular.svg);
    height: 3.4rem;
    width: 3.4rem;
}

input.white{
    position: relative;
    bottom: 4.2rem;
}


.show input.white{
    display: none;
} 
            
                         /* 
    It appears: None; Because if we don't hide it, the inputs will double when we click to switch to the light version 
                        */


.social-medias li {
    margin-right: 2.6rem;
}

.infos{
    margin-top: 4.8rem;
    gap: 9rem;
}

.cards{
    height: 14.8rem;
    width:14.8rem;
    text-align: center;
}

.buttons{
    gap: 3.8rem;
}

.buttons > .btn{
    border-radius: var(--radius);
    /* color: ; */
    height: 8rem;
    padding: 2.4rem 4.2rem;
    width: 29rem;
}


.btn[data-type="inverted"]{
    background: var(--bg-button);
    color: hsla(0, 0%, 24%, 1) ;
    text-align: center;
} 

